.flexContainer {
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    padding: 2em;
    background-color: lightgray;
    flex-wrap: wrap;
}

.flexContainer > article, .flexColumn > article {
    margin: 2em;
    min-height: 255px;
}

.flexColumn {
    display: flex;
    padding: 1em;
}

header {
    height: 150px;
    background-color: blue;
    font-size: 50px;
    color: white;
}

.box {
    float: left;
    padding: 1em;
    width: 150px;
    background-color: yellow;
    min-height: 450px;
}

footer {
    height: 25px;
    background-color: black;
    color: white;
    text-align: center;
}