.flexContainer {
    display: flex;
    background-color: rgb(238, 106, 106);
    align-content: space-between;
    flex-wrap: wrap;
}

.flexContainer > div, .flexcolumn > div {
    background-color: yellow;
    margin: 10px;
    text-align: center;
    line-height: 50px;
    font-size: 30px;
    width: fit-content;
}

.flexcolumn{
    display: flex;
    background-color: rgb(199, 48, 48);
    flex-direction: column;
    text-align: center;
}

.box {
    float: right;
    width: 200px;
    margin: 20px;
    background-color: seagreen;
    min-height: 400px;
}
header, footer {
    height: 100px;
    background-color: yellow;
}